<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Success</title>
</head>

<body>
    <div id="wrapper">
        <h1>Success!Welcome,{{users.first_name}}</h1>
        {% if messages %} {% for message in messages %}
        <p>{{message}}</p> {% endfor %}{% endif %}
    </div>
</body>

</html>

<style>
    #wrapper {
        width: 500px;
        height: 800px;
        margin: 30px auto;
        text-align: left;
        background-color: rgb(175, 175, 175);
        border: 5px solid black;
    }
    
    h1 {
        color: aquamarine;
        margin-left: 80px;
        margin-top: 200px;
    }
    
    form {
        width: 100%;
        border: 1px solid black;
    }
    
    p {
        margin-left: 100px;
        width: 300px;
        color: red;
    }
</style>